@media only screen and (min-width:200px) and (max-width:991px){
   .navbar-collapse form button{
   display: none;
   }
   .navbar-nav{
    margin-top: 13px;
   }
  .metting-image{
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .client-head{
    margin-top: 19px;
  }
  .inner-benifits{
    display: none;
  }
  .benifits-image{
    display: none;
  }
  .why-choose-main-para h2{
    justify-content: center;
  }

  .why-choose-section .container {
    height: 750px;
    
    
  }

  .global-mape{
    display: none;
  }
  .We-love-to-here-arrow{
    display: none;
  }
  .company-choose-us-section{
display: none;
  }

.social-area{
    margin-top: 55px;
}

.footer-area{
    height: 2470px;
}














}