:root {
  --main-font: "Manrope", sans-serif;
  --second-font: "Poppins", sans-serif;
}

/*==================== Navbar start ================== */
body {
  overflow-x: hidden;
}
.navbar {
  border-bottom: 1px;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

.navbar-brand {
  width: 128px;
  height: 67px;
  margin-right: 78px;
  margin-bottom: 5px;
}

.nav-btn {
  margin: 0px 5px;
}

.navbar-nav a {
  color: rgb(0 0 0);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  margin: 4px 4px;
}



.whatsapp-btn {
  width: 130px;
height: 40px;
border-radius: 44px;
background-color: #29A71A;
color: #fff;
font-family: var(--main-font);
font-size: 14px;
font-weight: 800;




}
.whatsapp-btn i{
  width: 24px;
  height: 24px;
margin: 0px 5px;
  
}


.phone-btn{
  width: 140px;
  height: 40px;
  border-radius: 44px;
  border: 1px solid #0047AB;

  background-color: #0071DC;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 800;
 color: #FFFFFF;
  
}





/*==================== Navbar end ================== */
/*==================== Hero start ================== */

.hero {
  background-color: #f8f8f8;

  border-radius: 30px;
}

.form-input-section {
  display: flex;
  flex-direction: row;
}

.header-line {
  margin-top: 140px;
}

.header-line h3 {
  font-family: var(--main-font);
  font-size: 45px;
  font-weight: 700;
  color: #0071dc;
}

.header-line h3 span {
  font-family: var(--main-font);
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.head-text {
  position: absolute;
}

.form-input-section .bi-search {
  margin-left: 13px;
  margin-top: 20px;
}

.form-input-section input {
  border: 0px;
}

.service-btn {
  width: 200px;
  height: 44px;
  padding: 10px;
  border-radius: 44px;
  margin-top: 9px;
  margin-right: 11px;
  font-size: 14px;
  font-weight: 700;
}

.form-input-section {
  box-shadow: 0px 4px 4px 0px #00000026;
  width: 547px;
  height: 60px;
  border-radius: 37px;
  opacity: 0px;
}
.form-input-section .btn{
  width: 190px;
  height: 44px;
  padding: 10px 0px 10px 0px;
  border-radius: 44px;
background-color: #0071DC;
color: #fff;
  
}
.form-input-section .btn .bi-arrow-up-right{
 
  
}
.form-control:focus {
  color: #495057; 
 background-color: #fff; 
   border-color: #8bbafe; 
   outline: 0; 
   box-shadow: none;
}
.benifits-section p {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.benifits-list p {
  padding: 7px 3px;
  margin: 4px 5px;
  border-radius: 15px;
  border: 1px solid #000000;
  opacity: 0px;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
}

.ca-lawyer {
  position: relative;
  left: 30px;
  top: 400px;
}

.officers {
  position: relative;
  top: -200px;
  left: 320px;
}

.metting-image {
  margin-left: 60px;
  margin-top: 150px;
}

a {
  color: mediumseagreen;
}

.c1 {
  display: inline-block;
}

.c2 {
  display: inline-block;
}

.c3 {
  display: inline-block;
}

.c4 {
  display: inline-block;
}

h1 {
  font-size: 3.2rem;
  margin-top: 1%;
}

h1 .type {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
  animation-delay: 1s;
}

h1 .type2 {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 2s;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
}

h1 .type3 {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 3s;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
}

h1 .type4 {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 4s;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
}

h1 .type5 {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 5s;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
}

h1 .type6 {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 6s;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
}

h1 .type7 {
  font-size: 2.5rem;
  overflow: hidden;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(25, end) forwards;
  animation-delay: 7s;
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  color: #575454;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: rgb(0, 0, 0);
  }
}

/*==================== Hero end ================== */
/*==================== Our client section start ================== */
.client-head {
  font-family: var(--main-font);
  font-size: 46px;
  font-weight: 700;
  color: #000000;
  margin-top: 120px;
}

.client-head span {
  color: #0071dc;
}

/*==================== Our client section end ================== */
/*==================== benifits section start ================== */
.inner-benifits {
  border-radius: 4px;
  background-color: #0071dc;
  width: 1, 340px;
  height: 109px;
}

.benifits-image img {
  width: 31px;
  height: 31px;
  margin-right: 22px;
  margin-top: 20px;
}

.benifits-image {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}

.benifits-para h5 {
  font-family: var(--second-font);
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}

.benifits-para p {
  font-family: var(--second-font);
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

/*==================== benifits section end ================== */
/*==================== service section start ================== */
.service-icon-text {
  background: #f1f3f8;
  border-radius: 4px;
  margin: 0px 4px;
}

.service-icon-text p {
  margin-top: 14px;
  margin-left: 4px;
  font-size: 16px;
  font-weight: 600;
}

.service-icon-btn {
  background: #0071dc;
}

.service-icon-btn img {
  background: #0071dc;
  width: 32px;
  height: 32px;
  margin-top: 15px;
  margin-left: 50px;
}

.service-icon-btn a {
  text-decoration: none;
  color: #fff;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 14px;
}

/*====================  service section end================== */
.hospitality-service {
  display: flex;
  flex-direction: row;
}

.service-1 {}

.service-1 img {
  width: 65px;
  height: 45px;
  margin-left: 20px;
}

.why-choose-section .container {
  border: 1px solid #c6c7c9;
  border-radius: 30px;
  width: 1340px;
  height: 440px;
  
  
}

.why-choose-main-para h2 span {
  font-family: var(--main-font);
  font-size: 46px;
  font-weight: 700;
  color: #0071dc;
}

.why-choose-main-para h2 {
  font-family: var(--main-font);
  font-size: 46px;
  font-weight: 700;
}

.why-choose-main-para p {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
}

.service-1 p {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  margin-left: -9px;
}
.choose-tick p{
 
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.choose-tick p span{
 
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
color: #000000;
}

.we-love-inner h1{
 margin-left: 280px;
}

.we-love-to-here-para{
  position: relative;
}
.we-love-to-here-para img{
  margin-left: 850px;
  margin-top: -14px;



}
.we-love-to-here-para p{
 
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
 color: #000000;
  



}


.country{
  margin: 0px 14px;
}
.country p{
  margin-top: 7px;
  margin-left: 5px;
}


.point1{
  position: relative;
  top: -380px;
  margin-left: 170px;
}
.point2{
  position: relative;
  top: -260px;
  margin-left: 595px;
}
.point3{
  position: relative;
  top: -415px;
  margin-left: 750px;
}
.point4{
  position: relative;
  top: -550px;
  margin-left: 900px;
}

/*====================  100+ Companies per Month section start ================== */

.company-choose-us-section .container{
border-radius: 30px;
background: #F2F2F2;
}
.company-choose-us-section-head{
  margin-left:120px;
}

.company-choose-us-section-head h1{
 
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 800;
 color: #000000;
  
}
.company-choose-us-section-head button{
 
  width: 176px;
height: 42px;
border-radius: 34px;
font-family: var(--main-font);
font-size: 20px;
font-weight: 500;



  
}

.mape img{
  width: 100%;
  height: 100%;
}




/*====================  100+ Companies per Month section end ================== */
/*====================  client review section start ================== */
.card{
 border: 0px solid transparent;
}
.card .card-body .card-name{
  font-family: var(--main-font);
font-size: 16px;
font-weight: 600;
color: #000000;

}
.card .card-body .card-para{
  font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
color: #000000;


}

.card-google-icon{
  position: relative;
  margin-left: 150px;
  margin-top: -40px;
}

.carousel-btn i{
  padding: 9px 9px;
  border: 2px solid #4F4F4F;
border-radius: 50%;
  
}






/*====================  client review section end ================== */
.subscribe-newletter-para{
  margin-top: 35px;
  margin-left: 20px;
}
.subscribe-newletter-para h3{

font-family: var(--main-font);
font-size: 30px;
font-weight: 700;
color: #0047AB;

}
.subscribe-newletter-para p{
font-family: var(--main-font);
font-size: 14px;
font-weight: 400;
color: #000000;

  
  }

  .subscribe-newletter-form form{ 
  margin-top: 44px;
  width: 540px;
height: 64px;
border-radius: 37px;
border: 1px solid #C6C7C9;
padding: 0px 23px;


  }

  .subscribe-newletter-form form input{
    border: 0;
  }

  .subscribe-newletter-form .form-control:focus{
    box-shadow: none;

  } 
  .subscribe-newletter-form form .btn{
    width: 151px;
    height: 44px;
    padding: 10px;
    border-radius: 44px;
   background-color: #0071DC;
   margin-top: 10px;
   color: #fff;
   margin-left: 40px;
    
  }
  .subscribe-newletter-form form i{
    margin-left: 3px;
  }
/* social area start  */
.social-area{
background-color: #033378;
padding: 4px 2px;
}

  .policy-area a{
text-decoration: none;
font-family: var(--main-font);
font-size: 14px;
font-weight: 700;
color: #fff;
margin: 3px 13px;

  }

  .vr {
    border-left: 2px solid rgb(255, 255, 255);
    height: 500px;
    margin-left: 22px;
  }
  .social-area-icon img{
   margin: 0px 2px;
  }
  
  
/* social area end */

.list ul li{
list-style: none;
}
.list ul li a{
  text-decoration: none;
  margin-left: -33px;
}
 
/* footer area start */
.footer-area{
  background-color: #0047AB;
  height: 1050px;
  
}
.list  h5{
  font-family: var(--main-font);
  font-size: 13px;
  font-weight: 600;
 color: #F4EB17;
 margin-left: -12px;
  
}

.list ul li a{
  font-family: var(--main-font);
font-size: 14px;
font-weight: 600;
color: #fff;
}
.list ul li{
 
    margin: 13px -9px;

}

.footer-para{
  font-family: var(--main-font);
font-size: 14px;
font-weight: 400;
color: #fff;

}
.inner-footer-area img{
  
justify-content: center;
align-items: center;
}

.all-rights-reserved{
  font-family: var(--main-font);
font-size: 14px;
font-weight: 400;
color: #fff;

}

.all-rights-reserved a{
 text-decoration: none;
 font-family: var(--main-font);
 font-size: 14px;
 color: #F4EB17;
 
}
/* footer area end */
 